
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proibido</title>
</head>
<body>
    <h1>Você não tem permissão para ver esta página</h1>
</body>
</html>
